<body>
   <div class="bg"> </div>
   <div class="container">
       <div class="cmptr1">
           <div class="loop">
               <img src="../../../assets/list-icon.png" class="icon">
               
           </div>
           <h5 class="date_cmptr"> Date :  11/07/2022</h5>
           <h6 class="description"> Description: CR mauvaise dose médicament</h6>

       </div>
       
       <div class="cmptr1">
        <div class="loop">
            <img src="../../../assets/list-icon.png" class="icon">
            
        </div>
        <h5 class="date_cmptr"> Date :  11/07/2022</h5>
        <h6 class="description"> Description: CR mauvaise dose médicament</h6>

    </div>
    <div class="cmptr1">
        <div class="loop">
            <img src="../../../assets/list-icon.png" class="icon">
            
        </div>
        <h5 class="date_cmptr"> Date :  11/07/2022</h5>
        <h6 class="description"> Description: CR mauvaise dose médicament</h6>

    </div>
    <div class="cmptr1">
        <div class="loop">
            <img src="../../../assets/list-icon.png" class="icon">
            
        </div>
        <h5 class="date_cmptr"> Date: 11/07/2022</h5>
        <h6 class="description"> Description: CR mauvaise dose médicament</h6>

    </div>
    
    
   </div>
    
</body>